* {
  box-sizing: border-box;
}

body {
  background-color: #526760;
  font-family: 'Roboto', sans-serif;
  color: white;
}

main {
  width: 70%;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 50px;
}

p,
h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  padding-top: 5px;
}

.quiz-title {
  font-size: 1.6em;
}

.currentStats {
  background-color: #374B4A;
  border-radius: 10px;
  text-align: center;
}

.currentStats,
.stats {
  color: rbga(255, 255, 255, 1.0);
  font-size: 20px;
}

div.questionDiv {
  height: 60px;
  text-align: center;
  margin-bottom: 10px;
}

.answer {
  display: block;
  height: 30px;
  float: left;
}

.answerDiv {
  text-align: center;
  margin-bottom: 30px;
}

.button {
  background-color: #8B8BAE;
  border: 1px solid rbga(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  display: inline-block;
  color: black;
  margin-bottom: 4px;
  padding: 8px;
  margin-top: 1px;
  text-align: left;
}